body {
    height: 100vh;
    margin: 0 auto;
    background-image: url('./Images/background.png');
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: white;
    background-color: #0f1923;
    border-bottom: 1px solid black;
}

.main_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 1rem;
}


.footer {
    color: white;
    background-color: #0f1923;
    height: 20px;
    font-size: 10px;
    padding: 1rem;
}

#btn_container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

#agent_generator_btn {
    height: 50px;
    width: 400px;
    text-align: center;
    align-self: center;

    color: white;
    cursor: pointer;
    background-color: #0f1923;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

#agent_generator_btn:hover {
    background-color: white;
    color: #0f1923;
    box-shadow: 1px 1px 1px;
}

#agent_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_side {
    color: white;
    background-color: #0f1923;
    padding: 1rem ;
    border-radius: 16px;
}

#skills {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.skill_container {
    display: flex;
    gap: 0.5rem;
}

.skill_img {
    height: 50px;
    background-color: #0f1923;
}

#agent_img {
    width: 800px;
}

.hidden {
    display: none;
}
