/* BODY */
body {
    height: 100vh;
    margin: 0 auto;
    background-image: url('../Images/background.png');
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: white;
    background-color: #0f1923;
    border-bottom: 1px solid black;
}

/* MAIN */
.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    gap: 1rem;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #0f1923;
    height: 20px;
    font-size: 10px;
    padding: 1rem;
}

/* Bouton de génération d'agent */
#btn_container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

#agent_generator_btn {
    height: 50px;
    width: 400px;
    text-align: center;
    align-self: center;
    box-shadow: 1px 1px 1px white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background-color: #0f1923;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

#agent_generator_btn:hover {
    background-color: red;
    color: #0f1923;
    box-shadow: 2px 2px 2px;
}


/* Display de l'agent */

#agent_container {
    position: relative;
    display: flex;
    align-items: center;
}

.right_side {
    position: absolute;
    top: 5%;
    left: 40%;
    width: 50%;
    color: white;
    background-color: #0f1923;
    padding: 1rem ;
    border-radius: 16px;
}

.agent_name {
    color: red;
}

#agent_img {
    width: 700px;
}

/* Boutons pour l'arsenal */
.btn_mode_container {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

.mode_btn {
    height: 40px;
    width: 200px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    color: #0f1923;
    cursor: pointer;
}

.mode_btn:hover {
    background-color: red;
}

.selected {
    background-color: red;
}

.weapon_container {
    display: flex;
    gap: 2rem;
    color: red;
}

/* Les compétences */
.skills_container {
    color: red;
}

.skill_row {
    display: flex;
    gap: 1rem;
    height: 40px;
    margin: 1rem 0;
}

/* Animation de chargement */
.loading-animation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(15, 25, 35, 0.2);
    z-index: 9999;
  }
  
  .spinner {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }
  
/* Effet machine à écrire */
.animate-text { 
  visibility:hidden; 
}

/* Langues */
.button_language {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 1rem;
    right: 5%;
}

.french_button {
    height: 30px;
    padding: 0;
    background-color: #0f1923;
    border: 0px;
    cursor: pointer;
}

.french_flag {
    height: 30px;
}

.english_button {
    height: 30px;
    padding: 0;
    background-color: #0f1923;
    border: 0px;
    cursor: pointer;
}

.english_flag {
    height: 30px;
}

.hidden {
    display: none;
}

/* Responsiv */

@media screen and (max-width: 1500px) {

    .weapon_container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    #agent_container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .right_side {
        position: static;
        width: 70%;
        margin: 1rem 0;
    }

    .left_side {
        position: absolute;
        left: 60%;
        z-index: -1;
    }


}



@media screen and (max-width: 900px) {
    .main_container {
        align-items: center;
    }

    .button_language {
        right: 50%;
        transform: translateX(50%);
        height: 20px;
    }

    .french_flag, .english_flag {
        height: 20px;
    }

    .right_side {
        font-size: 14px;
        padding: 2rem;
        gap: 0.5rem;
        width: 100%;
    }

    .mode_btn {
        font-size: 12px;
    }

    #agent_generator_btn {
        font-size: 16px;
        width: fit-content;
        padding: 1rem;
        box-shadow: 2px 2px 2px black;
    }
    .left_side {
        display: none;
    }
}